<!-- Esta vista parcial es para manejar el campo categorias de los formularios. 
 Para usarlo es necesario enviar la url donde se obtienen las categorías para la sección en que se esté usando. 
  La url es la que se pasa al fetch que obtiene las categorias de la sección que corresponda. -->

<div>

    <div class="row">

        <div class="col-sm-12 col-md-6">
            <div class="mx-1 my-1 px-1 py-1 border border-ligth">
                <h5 class="text-center">Categorías para agregar al post</h5>
                <div id="div_categoria_seleccionada" class="mx-1 my-1 px-1 py-1"></div>

                <div class="mx-1 my-1 px-1 py-1">
                    <label class="mx-1 my-1" for="categoria_nueva">
                        <span id="span_categoria_nueva"
                            class="bg_green text_white mx-1 my-1 px-1 py-1 rounded-2"></span>
                    </label>
                    <input type="text" id="input_categoria_nueva" class="mx-1 my-1" name="categoria_nueva"
                        placeholder="ingresar nueva categoría" onchange="agregarCategoriaNueva(value)">
                </div>

            </div>

        </div>

        <div class="col-sm-12 col-md-6">
            <h5 class="text-center">Lista de categorías disponibles</h5>

            <!-- en el siguiente div se agrega un select/option para 
             mostrar las categorias existentes en la base de datos -->
            <div id="div_select_categorias"></div>
         
        </div>

    </div>

</div>

<script>
    

    const url_para_traer_categorias = "<%= url_categorias %>"; 

    let lista_categorias_existentes = [];
    let lista_categorias_seleccionadas = [];

    function establecerCategorias() {

        fetch(url_para_traer_categorias, {
            method: "GET"
        })
            .then(response => response.json())
            .then(datos => {
                //console.log("datos categorias: ", datos);
                lista_categorias_existentes = datos;

                actualizarSelectCategorias();

            })
            .catch(error => {
                console.error("Error al obtener datos: ", error);
            });

    }

    function actualizarSelectCategorias() {

        let stringOptionCategorias = "";

        lista_categorias_existentes.forEach((categoria, indice) => {

            if (lista_categorias_seleccionadas.some(
                cat_selec => cat_selec.nombre === categoria.nombre_categoria) === false) {

                let stringValueOption = '{ "id": "' + categoria.id_categoria + '", "nombre": "'
                    + categoria.nombre_categoria + '" }';

                stringOptionCategorias += "<option id='idcat_"
                    + categoria.nombre_categoria + "' value = '" + stringValueOption + "'>"
                    + categoria.nombre_categoria + "</option>";

            }

        });

        document.getElementById("div_select_categorias").innerHTML = "<select class='form-select'"
            + " aria-label='Default select example' "
            + "onchange='agregarCategoria(value)'>"
            + "<option disabled selected>Seleccionar Categoría</option>"
            + stringOptionCategorias
            + "</select>";

    }

    function agregarCategoria(categoria_seleccionada) {
        let categoria = JSON.parse(categoria_seleccionada);
        //let id_categoria = categoria.id;
        let nombre_categoria = categoria.nombre;
        lista_categorias_seleccionadas.push(categoria);
        // al seleccionar una categoría, la quitamos del select para no seleccionarla otra vez.
        //document.getElementById("idcat_" + nombre_categoria).setAttribute("hidden", "true");
        actualizarSeccionCategorias();
        actualizarSelectCategorias();
    }

    function actualizarSeccionCategorias() {
        let stringElementosCategorias = "";

        lista_categorias_seleccionadas.forEach((categoria, indice) => {
            stringElementosCategorias += "<label class='bg_green mx-1 my-1 px-1 py-1 rounded-2'>"
                + "<input type='text' class='ms-2' name='id_categorias' value='"
                + categoria.id + "' hidden>" + categoria.nombre
                + "<span class='bg_white text_red mx-2 my-1 px-1 py-1 border' style='cursor: pointer;' "
                + " onclick='quitarCategoria(" + indice + ")'>X</span></label>";
        });
        document.getElementById("div_categoria_seleccionada").innerHTML = stringElementosCategorias;
    }

    function quitarCategoria(indice) {
        // cuando se elimina la categoría de la selección, la volvemos a agregar al select
        //document.getElementById("idcat_" + lista_categorias_seleccionadas[indice].nombre).removeAttribute("hidden");
        lista_categorias_seleccionadas.splice(indice, 1);
        actualizarSeccionCategorias();
        actualizarSelectCategorias();
    }

    /* Con la siguiente función elimino las tildes de los nombres para compararlas. */

    function eliminarTildeString(stringConTilde) {

        let stringSinTilde = "";

        for (let indice = 0; indice < stringConTilde.length; indice++) {
            if (stringConTilde[indice] === "á") {
                stringSinTilde += "a";
            } else if (stringConTilde[indice] === "é") {
                stringSinTilde += "e";
            } else if (stringConTilde[indice] === "í") {
                stringSinTilde += "i";
            } else if (stringConTilde[indice] === "ó") {
                stringSinTilde += "o";
            } else if (stringConTilde[indice] === "ú") {
                stringSinTilde += "u";
            } else {
                stringSinTilde += stringConTilde[indice];
            }
        }
        return stringSinTilde;
    }

    function verificarSiCategoriaExiste(nombre_categoria_nueva) {
        let categoriaSinTilde = eliminarTildeString(nombre_categoria_nueva.toLowerCase());
        let laCategoriaExiste = false;

        lista_categorias_existentes.forEach(categoria => {
            if (eliminarTildeString(categoria.nombre_categoria.toLowerCase()) === categoriaSinTilde) {
                laCategoriaExiste = true;
            }
        });

        return laCategoriaExiste;
    }

    function agregarCategoriaNueva(categoria_nueva) {
        if (verificarSiCategoriaExiste(categoria_nueva)) {
            stringCategoriaNueva = "<span class='bg_white text_red mx-2 my-1 px-1 py-1 border' >"
                + "La categoría ingresada ya existe</span>";
            document.getElementById("span_categoria_nueva").innerHTML = stringCategoriaNueva;
            document.getElementById("input_categoria_nueva").value = "";
        } else {
            stringCategoriaNueva = categoria_nueva
                + "<span class='bg_white text_red mx-2 my-1 px-1 py-1 border' style='cursor: pointer;' "
                + " onclick='quitarCategoriaNueva()'>X</span>";
            document.getElementById("span_categoria_nueva").innerHTML = stringCategoriaNueva;
            document.getElementById("input_categoria_nueva").setAttribute("hidden", "true");
        }
    }

    function quitarCategoriaNueva() {
        document.getElementById("span_categoria_nueva").innerHTML = "";
        let input_nueva_categoria = document.getElementById("input_categoria_nueva");
        input_nueva_categoria.removeAttribute("hidden");
        input_nueva_categoria.value = "";
    }


    establecerCategorias(); 
    
</script>
