<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog SurCode25</title>

    <link rel="stylesheet" href="/estilos_css/bootstrap.min.css">

    <!--<link rel="stylesheet" href="/estilos_css/estilos_main.css"> -->

    <link rel="stylesheet" href="/estilos_css/colores_const.css">
    <link rel="stylesheet" href="/estilos_css/estilos_blog.css">

    <script>

        function establecerDatosSesion() {
            // recuperamos los datos de session
            if (sessionStorage.getItem("datos_session_sc25") !== null) {
                const datos_session = JSON.parse(sessionStorage.getItem("datos_session_sc25"));
                //const id = datos_session.id;
                const username = datos_session.username;
                const rol = datos_session.rol;
                //const token = datos_session.token;
                const string_estado_session = "<div class='bg_black text_yellow'>"
                    + "<p class='text-end mx-3 my-1 px-2 py-1'><span>"
                    + "Sesión iniciada por: " + username + "</span><span class='mx-2'>rol: " + rol + "</span></p></div>";
                document.getElementById("div_estado_session_01").innerHTML = string_estado_session;
                if (rol === "user_blog") {
                    const string_controles_admin = "<div class='bg_beige mx-2 my-1 px-2 py-1'>"
                        + "<h5 class='text-end px-1 py-1'>"
                        + "<a href='/blog/mostrar_formulario_post'>"
                        + "Agregar nuevo post</a></h5></div>"; 
                    document.getElementById("section_controles_admin").innerHTML = string_controles_admin;                  
                }
            } else {
                 document.getElementById("div_estado_session_01").innerHTML = "<p>No se ha iniciado una sesión</p>";
            }

        }       

        function eliminarDatosSession() {
            console.log("Elimninando datos de session");
            sessionStorage.removeItem("datos_session_sc25");
        }

        window.addEventListener("load", establecerDatosSesion, false);

    </script>

</head>

<body class="bg_azure">

    <header class="bg_dimgrey">
        <div class="mx-1 my-1 px-1 py-1">
            <h2 class="text_ghostwhite text-center">Blog SurCode25</h2>
        </div>
    </header>
    <nav>
        <div class="bg_white mx-1 my-1 px-1 py-1">
            <span class="mx-1 my-1 px-1 py-1"><a href="#">Inicio</a></span>
            <span class="mx-1 my-1 px-1 py-1"><a href="/blog/navegacion_blog">Navegación por el Blog</a></span>
            <span class="mx-1 my-1 px-1 py-1"><a href="#">Enlace nav 03</a></span>
            <span class="mx-1 my-1 px-1 py-1"><a href="/usuarios/mostrar_formulario_login/blog">Iniciar
                    Sesión</a></span>
            <span class="mx-1 my-1 px-1 py-1"><a href="/usuarios/mostrar_formulario_nuevo_usuario/blog">Crear Cuenta de
                    Usuario</a></span>
        </div>
    </nav>

    <main class="bg_yellowgreen px-1 py-1">

        <div id="div_estado_session_01"></div>


        <section>

            <% if (seccion_blog==="inicio" ) { %>
                <%- include("parcial_blog_inicio") %>
             <% } %>

             <% if (seccion_blog==="post_seleccionado" ) { %>
                 <%- include("parcial_blog_post", { datos_post_seleccionado: datos_post }) %>
             <% } %>

             <% if (seccion_blog==="navegacion_blog" ) { %>
                 <%- include("parcial_navegacion_blog") %>
             <% } %>

        </section>

        <section id="section_controles_admin">


        </section>

        <section class="bg_beige mx-1 my-1">

            <div id="div_article_posteos"></div>

        </section>

    </main>

    <footer class="bg_dimgrey">
        <div class="mx-1 my-1 px-1 py-1">
            <h5 class="text_honeydew">Proyecto: Blog de SurCode25</h5>
            <h5 class="text_ivory">Autor: Salvador Mauricio Vilches Jerez</h5>
            <h5 class="text_lavender">Fecha publicación: En etapa de desarrollo desde 10/05/2025</h5>
        </div>
    </footer>

    <script src="/scripts_js/bootstrap.bundle.js"></script>

    <script>


        function obtenerPostSeleccionado(id_post) {
            //console.log("obteniendo post seleccionado: ", id_post);

            const string_url = "/blog/obtener_post_por_id_post/" + id_post;

            fetch(string_url, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            })
                .then(response => response.json())
                .then(datos => {
                    //console.log("datos obtenidos: ", datos);

                    const datosPost = datos[0];


                    let string_article_post = "<article class='bg_white mx-2 my-2 px-2 py-2'>"
                        + "<h5>id : " + datosPost.id_post + "</h5>"
                        + "<h4 class='mx-2 my-2 px-2 py-2'>Título: " + datosPost.titulo + "</h4>"
                        + "<div class=''>"
                        + "<p>Imagen: " + datosPost.imagen_url + "</p>"
                        + "<p>" + datosPost.contenido_01 + "</p>"
                        + "<p title='obtener publicaciones de este usuario'>"
                        + "<button onclick='obtenerPosteosDeUsuario(\"" + datosPost.id_autor + "\", \""
                        + datosPost.username + "\")'>Autor: "
                        + datosPost.username + "</button></p>"
                        + "<p>id_autor: " + datosPost.id_autor + "</p>"
                        + "<p>Fecha publicación: " + datosPost.fecha_publicacion + "</p></div></article>";

                    document.getElementById("div_article_posteos").innerHTML = string_article_post;

                })
                .catch(error => {
                    console.error("error al obtener datos: ", error);
                });

        }

        function obtenerPosteosDeUsuario(id_autor, usernameAutor) {
            //console.log("obteniendo posteos del usuario: ", id_autor);

            const string_url = "/blog/obtener_titulos_posteos_por_usuario/" + id_autor;

            fetch(string_url, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                }
            })
                .then(response => response.json())
                .then(datosRecibidos => {
                    console.log("datos obtenidos: ", datosRecibidos);

                    let string_titulos_posteos = "";

                    datosRecibidos.forEach(datos => {
                        string_titulos_posteos +=
                            "<p class='px-2 py-2'>"
                            + datos.id_post + " - "
                            + "<button onclick='obtenerPostSeleccionado(" + datos.id_post + ")'>"
                            + datos.titulo + "</button></p>";
                    });

                    let string_article_publicaciones = "<article class='bg_white mx-2 my-2 px-2 py-2'>"
                        + "<h4 class='mx-2 my-2 px-2 py-2'>Publicaciones de " + usernameAutor + "</h4>"
                        + string_titulos_posteos + "</article>";

                    document.getElementById("div_article_posteos").innerHTML = string_article_publicaciones;

                })
                .catch(error => {
                    console.error("error al obtener datos: ", error);
                });

        }

    </script>

</body>

</html>