<article class="bg_darkslategrey mx-2 my-2 px-2 py-2">

    <h4 class="text_mintcream mx-1 my-1 px-1 py-1 text-center">Sección para navegación por el blog</h4>

    <div class="row gx-0 bg_aliceblue">
        <div class="col-sm-12 col-md-6">
            <div class="mx-1 my-1 px-1 py-1" id="div_boton_publicaciones">
                <button type="button" style="width: 100%;" class="btn btn-success" onclick="mostrarEnlacesDePosteos()"
                    id="boton_mostrar_publicaciones">
                    Mostrar Publicaciones del Blog
                </button>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="mx-1 my-1 px-1 py-1" id="div_boton_categorias">
                <button type="button" style="width: 100%;" class="btn btn-success" onclick="mostrarCategoriasBlog()"
                    id="boton_mostrar_categorias">
                    Mostrar Categorías del Blog
                </button>
            </div>
        </div>
    </div>

    <div id="div_enlaces_blog_01" class="bg_aliceblue text_siena px-1 py-1"></div>

    <div id="div_enlaces_blog_02"></div>

</article>

<script>

    function mostrarEnlacesDePosteos() {

        fetch("/blog/obtener_titulos_posteos", {
            method: "GET",
            headers: {
                "Content-Type": "application/json"
            }
        })
            .then((response) => response.json())
            .then((titulos_posteos) => {

                let string_titulos_posteos = "";

                titulos_posteos.forEach(tituloPost => {
                    string_titulos_posteos +=
                        "<h5 class='px-2 py-2'>" + tituloPost.id_post + " - "
                        + "<a href='/blog/obtener_post_por_id_post/" + tituloPost.id_post + "'>"
                        + tituloPost.titulo + "</a> - " + tituloPost.fecha_publicacion + "</h5>";
                });

                let string_lista_posteos = "<div class='bg_aliceblue text_siena my-1 px-2 py-2'>"
                    + "<h5 class='mx-2 my-2 px-2 py-2'>Lista Posteos Blog</h5>"
                    + string_titulos_posteos + "</div>";

                document.getElementById("div_enlaces_blog_02").innerHTML = string_lista_posteos;

                document.getElementById("boton_mostrar_publicaciones").setAttribute("disabled", "true");

                if (document.getElementById("boton_mostrar_categorias").hasAttribute("disabled") === true) {
                    reestablecerBotonCategoria();
                }
              
            })
            .catch(error => {
                console.error("Error al obtener datos: ", error);
            });
    }

    function mostrarCategoriasBlog() {
        fetch("/blog/obtener_categorias_de_posteos", {
            method: "GET",
            headers: {
                "Content-Type": "application/json"
            }
        })
            .then((response) => response.json())
            .then((categorias_blog) => {

                let string_botones_categorias = "";

                categorias_blog.forEach(datos => {
                    string_botones_categorias += "<button type='button' onclick='obtenerPostPorCategoria("
                        + datos.id_categoria + ")'"
                        + " class='btn btn-outline-dark mx-2 my-2'"
                        + " id='boton_categoria_" + datos.id_categoria + "'>"
                        + datos.id_categoria + " - " + datos.nombre_categoria + "</button>";
                });

                let string_enlaces_categorias = "<div class='mx-1 my-1 px-1 py-1'>"
                    + "<div class=''>" + string_botones_categorias + "</div>"
                    + "<input type='number' id='id_input_categoria_anterior' value='0' hidden></div>";

                document.getElementById("div_enlaces_blog_01").innerHTML = string_enlaces_categorias;

                document.getElementById("boton_mostrar_categorias").setAttribute("disabled", "true");

            })
            .catch(error => {
                console.error("Error al obtener datos: ", error);
            });
    }

    function obtenerPostPorCategoria(id_categoria) {

        const url_blog_posteos = "/blog/obtener_nombres_posteos_por_id_categoria/" + id_categoria;

        fetch(url_blog_posteos, {
            method: "GET",
            headers: {
                "Content-Type": "application/json"
            }
        })
            .then(response => response.json())
            .then((posteos) => {
                let string_posteos = "";
                posteos.forEach(post => {
                    string_posteos += "<p class='mx-2'><span class='fs-5'><a href='/blog/obtener_post_por_id_post/"
                        + post.id_post + "'>"
                        + post.titulo + "</a></span><span class='fs-6 mx-2'>fecha publicación: "
                        + post.fecha_publicacion + "</span></p>";
                });
                let string_article_posteos = "<div class='bg_aliceblue text_siena my-1 px-2 py-2'>"
                    + "<h5 class='mx-2 my-2 px-2 py-2'>Publicaciones de Categoría: "
                    + posteos[0].categoria + "</h5>"
                    + "<div class=''>" + string_posteos + "</div></div>";

                document.getElementById("div_enlaces_blog_02").innerHTML = string_article_posteos;
                modificarAtributoBotonCategoria(id_categoria);
                if (document.getElementById("boton_mostrar_publicaciones").hasAttribute("disabled") === true) {
                    document.getElementById("boton_mostrar_publicaciones").removeAttribute("disabled");
                }
            })
            .catch(error => {
                console.error("error al obtener datos: ", error);
            });

    }

    function modificarAtributoBotonCategoria(id_categoria) {
        let boton_categoria = document.getElementById("boton_categoria_" + id_categoria);
        boton_categoria.setAttribute("disabled", "true");
        let valor_id_categoria_anterior = document.getElementById("id_input_categoria_anterior").value;

        if (valor_id_categoria_anterior > 0) {
            let boton_categoria = document.getElementById("boton_categoria_" + valor_id_categoria_anterior);
            boton_categoria.removeAttribute("disabled");
        }
        document.getElementById("id_input_categoria_anterior").value = id_categoria;
    }

    function reestablecerBotonCategoria() {
        let input_id_categoria_seleccionada = document.getElementById("id_input_categoria_anterior");
        let valor_id_categoria_seleccionada = input_id_categoria_seleccionada.value;
        let boton_categoria_desactivado = document.getElementById("boton_categoria_" + valor_id_categoria_seleccionada);
        boton_categoria_desactivado.removeAttribute("disabled");
        input_id_categoria_seleccionada.value = 0;
    }
 
</script>
